/* Copy and paste your CSS from CodePen into here */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Mukta&family=Roboto&family=Source+Sans+Pro&display=swap');

body {
  background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?w=2000");
  font-family: 'Mukta', Comic Sans MS, Comic Sans,
    cursive;
  font-size: 2em ; 
/*   line-height: 0.7; */
  text-align: center;
  color: black;
/*   text-shadow: grey 3px 2px;
  margin: 0; */
  background-attachment: fixed;
  line-height: 0.2;
}

h1 {
  color: black;
/*   margin-left: 40px; */
  font-family: 'Dancing Script', 'Lobster', Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 3em;
  text-shadow: grey 3px 2px;
}

.list-style {
  width: 50%;
  margin: auto;
  text-align: left;
  list-style:  square;
}

ul{
  text-align: center;
  line-height: 1.6;
  font-size:0.7em;
}

h2 {
  font-family: 'Dancing Script', sans-serif;
  font-style: oblique;
  font-weight: bold;
}

p{
   font-weight:bold;
   font-size: 1em;
}

#img-div {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  background-color:white;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

#img-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  display:block;
}

#img-caption{
  color:black;
  font-family: 'Dancing Script',sans-serif; 
  padding: 2px 15px;
}

